[user]
    name = Nathan Musoke
    email = nathan.musoke@gmail.com
[init]
    # Works with git version >= 2.28
    # https://lore.kernel.org/git/xmqq5za8hpir.fsf@gitster.c.googlers.com/
    # https://git-scm.com/docs/git-config#Documentation/git-config.txt-initdefaultBranch
	defaultBranch = main
[pull]
    ff = true
[push]
    default = simple
[alias]
    s = status
    st = status
    ci = commit
    co = checkout
    br = branch
    brm = branch --no-merge
    wdiff = diff --color-words
    dc = diff --cached

    l = log
    lp = log --patch
    lpw = log --patch --color-words

    ap = add --patch
[merge]
    ff = false
[diff]
    compaction-heuristic = true
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto

[diff "gpg"]
    textconv = gpg-decrypt
