[user]
    name = Nathan Musoke
    email = nathan.musoke@gmail.com
[pull]
    ff = true
[push]
    default = simple
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    brm = branch --no-merge
    wdiff = diff --color-words
    dc = diff --cached

    l = log
    lp = log --patch
    lpw = log --patch --color-words

[merge]
    ff = false
[diff]
    compaction-heuristic = true
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto

[diff "gpg"]
    textconv = gpg-decrypt
