[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
